---
layout: default
---

<div class="posts">
  <p>
      This is where I write briefly and/or extensively about the albums I listen to. This mostly will include the new albums I "discover" and not the more well-known pieces I've heard during past years, namely a lot of Pink Floyd, Tool, and Radiohead.
      The longer I write, the more I've enjoyed (and as a result dug deeper) the album. However, the general criteria for rating the albums are as follows:
    <ol>
      <li>during the process, was I interested in listening to what the album has to provide?</li>
      <li>did I face something new? Was it enough of a "discovery"?</li>
      <li>was the album an artistic masterpiece? was it a technically well-crafted piece?</li>
      <li>will I remember the album? will I want to listen to it again?</li>
      <li>did it change the person I am?</li>
    </ol>
  </p>
  <br /><hr /><br />
  <!-- This loops through the paginated posts -->
  {% for post in paginator.posts %}
    <article class="post">
      
      <div class="entry">
        <h4><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h4>
        <p>{{ post.description }}
          <br />
          <small>{{ post.release }}</small>
        </p>
      </div>
      <strong></b><a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a></strong>
    </article>
  {% endfor %}
</div>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      ◀️
    </a>
  {% else %}
    <span class="previous">◀️</span>
  {% endif %}
  <span class="page_number ">
    page {{ paginator.page }} / {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">▶️</a>
  {% else %}
    <span class="next ">▶️</span>
  {% endif %}
</div>  
