
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$midnightGreen: #095D6A;
$fadedRose: #B86161;
$timberWolf: #DED5CB;
$isabelline: #F6F1EC;

// Grays
$black: #0b0b0b;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;
$ivory: #fffdf1;

// Font stacks
$notoSans: "Noto Sans", sans-serif;
$notoSerif: "Noto Serif", serif;
// $helvetica: Helvetica, Arial, sans-serif;
// $helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
// $georgia: Georgia, serif;
// $ubuntu: "Ubuntu", sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
